/* ################### */
/* DEBUT CODE ORIGINEL */
/* ################### */

#mainbox {
  font-family: calibri;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.card {
  width: 350px;
  min-height: 250px;
  max-height: 250px;
  margin: 40px;
}

img {
  border-radius: 50%;
  width: 70px;
  margin: 10px;
}

h1 {
  font-weight: lighter;
  margin-left: 100px;
  margin-top: -30px;
}

p {
  margin: 10px;
  font-family: segoe ui;
  line-height: 1.4em;
  font-size: 1.2em;
}

.header {
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
}

.header img {
  width: 200px;
}

.footer {
  background-color: #ffffff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer img {
  width: 100px;
}

.header span,
.footer span {
  font-size: 1.5em;
  font-weight: bold;
}

.avatar img {
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.avatar:hover img {
  transform: scale(1.1);
}


/* ################# */
/* FIN CODE ORIGINEL */
/* ################# */

/* Time to shine */

/* ################### */
/* DEBUT CODE FORMATEUR */
/* ################### */

#formateur {
  border: 1px solid gray;
  box-shadow: 1px 1px 3px #888;
  border-top: 10px solid purple;
  padding: 10px;
}

/* ################# */
/* FIN CODE FORMATEUR */
/* ################# */

/* ################### */
/* DEBUT CODE VINCENT */
/* ################### */

.cardVF {
  border-radius: 10px;
  background-image: url(https://www.japanfm.fr/wp-content/uploads/2022/09/naruto-scaled.webp);
  background-size: cover;
  width: 350px;
  min-height: 250px;
  max-height: 250px;
  margin: 20px;  
  margin-top: 50px;
}

.cardVF:hover {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMLcFw1gi2qqbDfmrRTjPBHOMxIpRf1ffMVQ&usqp=CAU);
}

.textVF {
  display: block;
  min-height: 250px;
}

.cardVF:hover .textVF {
  display: none;
}

.h2VF {
  text-shadow: 0px 0px 2px black,0px 0px 4px black,0px 0px 6px black;
  color: white;
  margin-left: 15px;
  margin-top: 25px;
}


.jutsu {
  color: white;
  margin: 10px;
  font-family: segoe ui;
  line-height: 1.4em;
  font-size: 1.2em;
  margin-left: 15px;
  margin-top: 25px;
}



/* ################# */
/* FIN CODE VINCENT */
/* ################# */

/* ################### */
/* DEBUT CODE HICHAM */
/* ################### */
#hicham {
  border: 1px solid purple;
  box-shadow: 1px 1px 3px #888;
  padding: 15px;
}

.cardhs {
  width: 350px;
  min-height: 250px;
  max-height: 250px;
  margin: 40px;
  background-size: cover;
  background-image: url("assets/yuumi1.jfif"); /* Image de fond initiale */
  transition: background-image 0.3s ease; /* Transition en douceur lors du changement d'image */
  text-shadow: 1px 1px 2px #ffffff;
}

.cardhs:hover {
  background-image: url("assets/yuumi2.jfif"); /* Nouvelle image de fond au survol */ 
}

#link {
  text-decoration: none;
  color: black;
}

/* ################# */
/* FIN CODE HICHAM */
/* ################# */

/* ################### */
/* DEBUT CODE JEREMY */
/* ################### */

#jd-card{
    color: #f3e8ff;
    background: linear-gradient(0deg, #a855f7, #7e22ce);
    border: 1px solid #7e22ce;
    border-radius: 8px;
    box-shadow: 0 0 10px #171717;
    padding: 20px;
    transition: 300ms;
}

#jd-card img{
    filter: grayscale(100%);
}

#jd-card > h2{
    text-transform: uppercase;
}

#jd-card > p{
    font-size: 1.15em;
    font-style: italic;
}

#jd-card:hover img{
    filter: grayscale(0);
}

#jd-card:hover{
    border-color: #a855f7;
    box-shadow: unset;
}

/* ################# */
/* FIN CODE JEREMY */
/* ################# */

/* ################### */
/* DEBUT CODE MAEL */
/* ################### */

@font-face{
  font-family:neon_;
  src:url("assets/font/NEON.ttf");
}

#card_md{
  border-radius: 3%;
  border:solid;
  background-color: black;
  border-color:white;
  z-index:1;
  box-shadow: 0 3px 10px transparent;
  
}

#card_md:hover{
  box-shadow: 0 0 7px #e817c5, 
  0 0 10px #e817c5,
  0 0 42px #e817c5;
  border-color: #e600e6;
  background-image: url("assets/mur.jpg");
  color:#e817c5;
  text-shadow: 0 0 7px #e817c5, 
  0 0 10px #e817c5,
  0 0 42px #e817c5,
  0 0 77px #e817c5,
  0 0 100px #e817c5;
}

#nom_md{
  text-align:center;
  font-size:30px;
  font-family:neon_;
  text-shadow: 0 0 2px #fff;
  color:white;
  z-index:4;
  display:flex;
  flex-direction: column;
}

#light_off{
  font-family:neon_;
  color:white;
  text-shadow: 0 0 2px #fff;
  z-index:4;
  text-align:center;
}

#light_on{
  font-family:neon_;
  z-index:4;
  text-align: center;
  margin-top: 50px;
  display:none;
}

#cerise{
  display:none;
  width:100px;
}

#doigt{
  display:none;
  width:50px;
}

#card_md:hover #light_off{
  display:none;
}

#card_md:hover #cerise{
  display:flex;
}

#card_md:hover #doigt{
  display:flex;
  margin-left: 50px;
}

#light_off{
  margin-top:50px;
}

#card_md:hover #light_on{
  display:block;
}

#card_md:hover #nom_md{
  color:#e817c5;
  text-shadow: 0 0 7px #e817c5, 
   0 0 10px #e817c5,
   0 0 42px #e817c5,
   0 0 77px #e817c5,
   0 0 100px #e817c5;
}

#card_md:hover #ligne{
  display: flex;
  flex-direction: row;
  margin-left:15px;
}

p{
  font-size: 30px;
}

/* ################# */
/* FIN CODE MAEL */
/* ################# */

/* ################### */
/* DEBUT CODE JEROME */
/* ################### */

#jerome{
 min-width:350px;
  min-height:270px;
  border:1px solid lightgray;
  border-top:10px solid grey;
  box-shadow:0.5px 0.5px 3px grey;
  font-family:Helvetica, sans-serif;
}

#jerome h2{
  margin-left:10px;
}

#jerome p{
  margin-left:25px;
}


/* ################### */
/* DEBUT CODE OLGA */
/* ################### */

#olga {
  border: 10px solid rgb(183, 14, 177);
  box-shadow: 1px 1px 1px orchid;
  padding: 10px;
}

/* ################# */
/* FIN CODE OLGA */
/* ################# */

/* ################### */
/* DEBUT CODE SALAH */
/* ################### */

.SALAH img {
  object-fit:cover;
  transition: all 1s ease-out;
}

.SALAH:hover img {
  transform: scale(1.1);
}

h2 {
  font-weight: lighter;
  margin-left: 100px;
  margin-top: -30px;
}

#SALAH {
  border: 1px solid rgb(239, 247, 0);
  box-shadow: 1px 1px 3px #3901c8;
  border-top: 10px solid rgb(177, 0, 0);
  padding: 10px;
}

/* ################# */
/* FIN CODE SALAH */
/* ################# */

/* ################### */
/* DEBUT CODE SYLVAIN */
/* ################### */

@font-face {
	font-family: "AquilineTwo";
	src: url("assets/fonts/AquilineTwo.ttf") format("truetype");
}

@font-face {
	font-family: "Astonished";
	src: url("assets/fonts/ASTONISHED.TTF") format("truetype");
}

@keyframes avatar-animation {
  0% {
    transform: translateX(0px) rotate(0deg) scale(1.2);
  }
  100% {
    transform: translateX(200px) rotate(360deg) scale(1.2);
  }
}

#sylvain h2 {
  font-family: 'Astonished', sans-serif;
  font-size: 40px;
  padding-left: 7px;
  margin-top: -12px;
  margin-bottom: 0px;
}

#sylvain p {
	font-family: 'AquilineTwo', sans-serif;
  font-size: 18px;
}

.text--sylvain {
  width: 50%;
  transition: text-shadow 0.8s, color 0.8s;
}

#sylvain {
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #888;
  background-image: url("assets/background--s.jpeg");
  background-size: cover;
  padding: 10px;
}

.avatar--sylvain img {
  object-fit: cover;
  border: 1px solid gray;
}

#sylvain:hover img {
  animation: avatar-animation 2000ms alternate backwards infinite;
}

#sylvain:hover .text--sylvain {
  color: rgb(255, 252, 240);
  text-shadow: rgb(31, 31, 30) 4px 0 6px;
}

/* ################# */
/* FIN CODE SYLVAIN */
/* ################# */

/* ################### */
/* DEBUT CODE ABDERREZAK */
/* ################### */

  #abde {
    padding: 12px;
    border: 0px solid gainsboro;
    box-shadow: 1px 1px 5px black;
    border-top: 8px solid gray;
    border-right: 4px solid gray;
    background: linear-gradient(black, white);
  }


/* ################# */
/* FIN CODE ABDERREZAK */
/* ################# */

/* ################### */
/* DEBUT CODE ANTOINE */
/* ################### */
#antoine {
  border: 1px solid rgb(12, 11, 11);
  box-shadow: 10px 10px 3px pink;
  border-top: 10px solid pink;
  padding: 10px;
  background-image: url(assets/backgroung_isaac.jpg);
  background-repeat: no-repeat;
  background-size: 115% 100%;
}

.p_A {
  color: whitesmoke;
  text-shadow: 0 0 3px #ce52da, 0 0 5px #08bbf1;}

.h2_A {
  color: whitesmoke;
  text-shadow: 0 0 3px #ce52da, 0 0 5px #08bbf1;}
/* ################# */
/* FIN CODE ANTOINE */
/* ################# */

/* ################### */
/* DEBUT CODE AMAYAS */
/* ################### */

#amayas {
  border: 1px solid rgb(37, 2, 2);
  box-shadow: 5px 5px 8px #210101;
  border-top: 15px solid rgb(114, 7, 18);
  padding: 10px;
  background-image: url(assets/anti.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.Ah2 {
  text-shadow: 2px 0 #020202, -2px 0 #020202, 0 2px #020202, 0 -2px #020202,
               1px 1px #020202, -1px -1px #020202, 1px -1px #020202, -1px 1px #020202;
  color: rgb(252, 252, 252);
}

.Ap {
  text-shadow: 2px 0 #020202, -2px 0 #020202, 0 2px #020202, 0 -2px #020202,
               1px 1px #020202, -1px -1px #020202, 1px -1px #020202, -1px 1px #020202;
  color: rgb(252, 252, 252);
}
/* ################# */
/* FIN CODE AMAYAS */
/* ################# */

/* ################### */
/* DEBUT CODE MAXIME */
/* ################### */
#maxime {
  border: 3px solid #5F9EA0;
  box-shadow: 1px 1px 3px gray;
  border-radius: 5%;
  padding: 10px;
  background: radial-gradient(rgb(192, 192, 192), white)
}
/* ################# */
/* FIN CODE MAXIME */
/* ################# */

/* ################### */
/* DEBUT CODE HASAN */
/* ################### */

/* ################# */
/* FIN CODE HASAN */
/* ################# */

/* ################### */
/* DEBUT CODE AHMED */
/* ################### */
#Ahmed {
  border: 1px solid rgb(231, 5, 118);
  box-shadow: 2px 1px 3px #888;
  border-top: 10px solid rgb(80, 235, 33);
  padding: 10px;
  border-radius: 20px;
}

/* ################# */
/* FIN CODE AHMED */
/* ################# */

/* ################### */
/* DEBUT CODE MUSA */
#musa{
  border: 5px double rgb(56, 40, 122);
  border-radius: 10px;
  box-shadow: 5px  5px 10px black;
  padding: 10px;
  text-align: center;
  color: rgb(53, 37, 174);
}
/* FIN CODE MUSA */
/* ################# */
